In [ ]:
#!/usr/bin/env python
# coding: utf-8

In [3]:
!pip install sqlalchemy

Collecting sqlalchemy
  Downloading SQLAlchemy-1.4.35-cp39-cp39-win_amd64.whl (1.6 MB)
Collecting greenlet!=0.4.17
  Downloading greenlet-1.1.2-cp39-cp39-win_amd64.whl (101 kB)
Installing collected packages: greenlet, sqlalchemy
Successfully installed greenlet-1.1.2 sqlalchemy-1.4.35

WARNING: Ignoring invalid distribution -atplotlib (c:\users\varadharajan suresh\appdata\local\programs\python\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\varadharajan suresh\appdata\local\programs\python\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\varadharajan suresh\appdata\local\programs\python\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\varadharajan suresh\appdata\local\programs\python\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\varadharajan suresh\appdata\local\programs\python\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\varadharajan suresh\appdata\local\programs\python\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\varadharajan suresh\appdata\local\programs\python\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\varadharajan suresh\appdata\local\programs\python\python39\lib\site-packages)
WARNING: You are using pip version 21.2.4; however, version 22.0.4 is available.
You should consider upgrading via the 'c:\users\varadharajan suresh\appdata\local\programs\python\python39\python.exe -m pip install --upgrade pip' command.

In [4]:
import pandas as pd
import os
from sqlalchemy import create_engine

In [8]:
# connect to database
conn_url = 'postgresql://postgres:admin@localhost/Social Power NBA'
engine = create_engine(conn_url)
connection = engine.connect()

In [71]:
#File 0
team_mapping = pd.read_csv('nba_team_mapping.csv')
#File 1
one_pd = pd.read_csv('nba_2016_2017_100.csv')
#File two
two_pd = pd.read_csv('nba_2017_att_val_elo_with_cluster.csv')
#File three
three_pd = pd.read_csv('nba_2017_br.csv')
#File four
four_pd = pd.read_csv('nba_2017_nba_players_with_salary.csv')
#file Five
five_pd = pd.read_csv('nba_2017_endorsements.csv')
#file six
six_pd = pd.read_csv('nba_2017_pie.csv')#[['PLAYER','TEAM','W','L']]

In [20]:
#Table 1 - V
nba_2017_players = one_pd.merge(three_pd, left_on='PLAYER_NAME', right_on='Player')[['PLAYER_ID','Player',
                                                                                     'Pos','Age']]
nba_2017_players.columns = ['player_id','player_name','pos','age']
nba_2017_players.to_sql(name='nba_2017_players', con=engine, if_exists='append', index=False)

In [21]:
#Table 2 - V
nba_2017_teams = two_pd[['TEAM','GMS','TOTAL','AVG','PCT','VALUE_MILLIONS']]
nba_2017_teams = nba_2017_teams.merge(team_mapping, on='TEAM')[['TEAM_ID','TEAM','TEAM_ABBREVIATION','GMS','TOTAL','AVG','PCT','VALUE_MILLIONS']]
nba_2017_teams.columns = ['team_id','team_name','team_abbreviation','gms','total','avg','pct','value_millions']
nba_2017_teams.to_sql(name='nba_2017_teams', con=engine, if_exists='append', index=False)

In [41]:
#Table 3 - V
nba_2017_player_ranking = one_pd[['PLAYER_ID','GP_RANK','W_RANK','L_RANK','W_PCT_RANK','MIN_RANK',
                                  'OFF_RATING_RANK','DEF_RATING_RANK','NET_RATING_RANK','AST_PCT_RANK',
                                  'AST_TO_RANK','AST_RATIO_RANK','OREB_PCT_RANK','DREB_PCT_RANK','REB_PCT_RANK',
                                  'TM_TOV_PCT_RANK','EFG_PCT_RANK','TS_PCT_RANK','USG_PCT_RANK','PACE_RANK',
                                  'PIE_RANK','FGM_RANK','FGA_RANK','FGM_PG_RANK','FGA_PG_RANK','FG_PCT_RANK']]
nba_2017_player_ranking = nba_2017_player_ranking.reset_index().rename(columns={'index': 'RANK_ID'})
#nba_2017_player_ranking = nba_2017_player_ranking.merge(nba_2017_players[['player_id']], on='player_id')
nba_2017_player_ranking.columns = ['rank_id','player_id','gp_rank','w_rank','l_rank','w_pct_rank','min_rank',
'off_rating_rank','def_rating_rank','net_rating_rank','ast_pct_rank',
'ast_to_rank','ast_ratio_rank','oreb_pct_rank','dreb_pct_rank','reb_pct_rank',
'tm_tov_pct_rank','efg_pct_rank','ts_pct_rank','usg_pct_rank','pace_rank',
'pie_rank','fgm_rank','fga_rank','fgm_pg_rank','fga_pg_rank','fg_pct_rank']
nba_2017_player_ranking = nba_2017_player_ranking.merge(nba_2017_players['player_id'], on='player_id')
nba_2017_player_ranking.to_sql(name='nba_2017_player_ranking', con=engine, if_exists='append', index=False)

In [42]:
#Table 4 - V
nba_2017_fact = one_pd[['PLAYER_ID','W_PCT','OFF_RATING','DEF_RATING','NET_RATING','AST_PCT','AST_TO',
                        'AST_RATIO','OREB_PCT','DREB_PCT','REB_PCT','TM_TOV_PCT','EFG_PCT','TS_PCT','USG_PCT',
                        'FGM','FGA','FGM_PG','FGA_PG','FG_PCT','PTS','ACTIVE_TWITTER_LAST_YEAR',
                        'TWITTER_FOLLOWER_COUNT_MILLIONS']]
nba_2017_fact = nba_2017_fact.reset_index().rename(columns={'index': 'FACT_ID'})
nba_2017_fact.columns = ['fact_id','player_id','w_pct','off_rating','def_rating','net_rating','ast_pct','ast_to',
'ast_ratio','oreb_pct','dreb_pct','reb_pct','tm_tov_pct','efg_pct','ts_pct','usg_pct',
'fgm','fga','fgm_pg','fga_pg','fg_pct','pts','active_twitter_last_year',
'twitter_follower_count_millions']
nba_2017_fact.to_sql(name='nba_2017_fact', con=engine, if_exists='append', index=False)

In [45]:
#Table 5 - V
nba_2017_player_stats_1 = one_pd.merge(three_pd, left_on='PLAYER_NAME', right_on='Player')[['PLAYER_ID','MP',
                                                                                            '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 
                                                                                            'FTA', 'FT%','ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 
                                                                                            'TOV', 'PF']]
nba_2017_player_stats_1 =  nba_2017_player_stats_1.reset_index().rename(columns={'index': 'stat_1_ID'})
nba_2017_player_stats_1.columns = ['stat_1_id','player_id','mp','threep','threepa','threepp','twop','twopa','twopp','fgp','ft','fta','ftp','orb','drb','trb','ast','stl','blk','tov','pf']
nba_2017_player_stats_1.to_sql(name='nba_2017_player_stats_1', con=engine, if_exists='append', index=False)

In [46]:
#Table 6 - V
nba_2017_player_stats_2 = one_pd.merge(four_pd, left_on='PLAYER_NAME', right_on='PLAYER')[['PLAYER_ID','PLAYER_NAME','POINTS','GP_y', 'MPG', 'ORPM', 'DRPM', 'RPM','WINS_RPM', 'PIE_y', 'PACE_y']]
nba_2017_player_stats_2 = nba_2017_player_stats_2.reset_index().rename(columns={'index': 'stat_2_ID'})
nba_2017_player_stats_2.columns = ['stat_2_id','player_id','player_name','points','gp', 'mpg', 'orpm', 'drpm', 'rpm','wins_rpm', 'pie', 'pace']
nba_2017_player_stats_2.to_sql(name='nba_2017_player_stats_2', con=engine, if_exists='append', index=False)

In [49]:
#Table 7 - V
temp = six_pd.merge(team_mapping,left_on='TEAM', right_on = 'TEAM_ABBREVIATION')[['TEAM_ID','L','W','PLAYER']]
nba_2017_player_stats_3 = temp.merge(one_pd[['PLAYER_ID','PLAYER_NAME']], left_on = 'PLAYER', right_on = 'PLAYER_NAME')[['PLAYER_ID','L','W']]
nba_2017_player_stats_3 = nba_2017_player_stats_3.reset_index().rename(columns={'index': 'stat_3_ID'})
nba_2017_player_stats_3.columns = ['stats_3_id', 'player_id', 'l', 'w']
nba_2017_player_stats_3 = nba_2017_player_stats_3.merge(nba_2017_players['player_id'], on='player_id')
nba_2017_player_stats_3.to_sql(name='nba_2017_player_stats_3', con=engine, if_exists='append', index=False)

In [51]:
#'comments: no table 8'
nba_2017_player_stats_4 = one_pd.merge(six_pd, left_on = 'PLAYER_NAME', right_on = 'PLAYER')[['PLAYER_ID','OFFRTG','DEFRTG','NETRTG']]
nba_2017_player_stats_4 = nba_2017_player_stats_4.reset_index().rename(columns={'index': 'stat_4_ID'})
nba_2017_player_stats_4.columns = ['stat_4_id', 'player_id', 'offrtg', 'defrtg', 'netrtg']
nba_2017_player_stats_4 = nba_2017_player_stats_4.merge(nba_2017_players['player_id'], on='player_id')
nba_2017_player_stats_4.to_sql(name='nba_2017_player_stats_4', con=engine, if_exists='append', index=False)

In [59]:
# Table 9 - V
player_salary = pd.read_csv('nba_2017_salary.csv')
nba_2017_player_stats_5 = player_salary.merge(one_pd[['PLAYER_ID','PLAYER_NAME']], left_on = 'NAME', right_on = 'PLAYER_NAME')[['PLAYER_ID','NAME','SALARY']]
nba_2017_player_stats_5 = nba_2017_player_stats_5.reset_index().rename(columns={'index': 'stat_5_ID'})
nba_2017_player_stats_5.columns = ['stat_5_id', 'player_id', 'name', 'salary']
nba_2017_player_stats_5 = nba_2017_player_stats_5.merge(nba_2017_players['player_id'], on='player_id')
nba_2017_player_stats_5.to_sql(name='nba_2017_player_stats_5', con=engine, if_exists='append', index=False)

In [106]:
#Table 10 - V 
nba_2017_clusters = two_pd[['TEAM','ELO','CONF','cluster']]
nba_2017_clusters = nba_2017_clusters.merge(team_mapping, on='TEAM')[['TEAM_ID','ELO','CONF','cluster']]
nba_2017_clusters = nba_2017_clusters.reset_index().rename(columns={'index': 'cluster_id'})
nba_2017_clusters.columns = ['cluster_id', 'team_id', 'elo', 'conf', 'cluster']
nba_2017_clusters.to_sql(name='nba_2017_team_clusters', con=engine, if_exists='append', index=False)

In [64]:
#Table 11 - V 
team_salary = pd.read_csv('nba_2017_salary.csv')
nba_2017_salary = team_salary.merge(one_pd[['PLAYER_ID','PLAYER_NAME']], left_on = 'NAME', right_on = 'PLAYER_NAME')[['PLAYER_ID','SALARY']]
nba_2017_salary = nba_2017_salary.reset_index().rename(columns={'index': 'SALARY_ID'})
nba_2017_salary.columns = ['salary_id', 'player_id', 'salary_millions']
nba_2017_salary = nba_2017_salary.merge(nba_2017_players['player_id'], on='player_id')
nba_2017_salary.to_sql(name='nba_2017_salary', con=engine, if_exists='append', index=False)

In [72]:
#Table 12 - V 
nba_2017_endorsements = one_pd.merge(five_pd, left_on='PLAYER_NAME', right_on='NAME')[['PLAYER_ID','TEAM_ID','ENDORSEMENT']]
nba_2017_endorsements = nba_2017_endorsements.reset_index().rename(columns={'index': 'endorsement_id'})
nba_2017_endorsements.columns = ['endorsement_id', 'player_id', 'team_id', 'endorsement']
nba_2017_endorsements.to_sql(name='nba_2017_endorsements', con=engine, if_exists='append', index=False)

In [101]:
# Table 13 - V
wikipedia = pd.read_csv('nba_2017_player_wikipedia.csv')
nba_2017_wikipedia = wikipedia.merge(one_pd[['PLAYER_ID','PLAYER_NAME']], left_on = 'names', right_on = 'PLAYER_NAME')[['PLAYER_ID','pageviews','timestamps','wikipedia_handles']]
nba_2017_wikipedia = nba_2017_wikipedia.reset_index().rename(columns={'index': 'wiki_id'})
nba_2017_wikipedia.columns = ['wiki_id', 'player_id', 'pageviews', 'timestamps', 'wikipedia_handles']
nba_2017_wikipedia['timestamps'] = pd.to_datetime(nba_2017_wikipedia['timestamps'], format='%Y%m%d%S', errors='ignore')
nba_2017_wikipedia.to_sql(name='nba_2017_wikipedia', con=engine, if_exists='append', index=False)

       wiki_id  player_id  pageviews timestamps  wikipedia_handles
0            0     201566       3400 2016-01-01  Russell_Westbrook
1            1     201566       2893 2016-01-02  Russell_Westbrook
2            2     201566       3209 2016-01-03  Russell_Westbrook
3            3     201566       2531 2016-01-04  Russell_Westbrook
4            4     201566       2599 2016-01-05  Russell_Westbrook
...        ...        ...        ...        ...                ...
35026    35026     203950        170 2016-12-27     Jarnell_Stokes
35027    35027     203950        172 2016-12-28     Jarnell_Stokes
35028    35028     203950        157 2016-12-29     Jarnell_Stokes
35029    35029     203950        187 2016-12-30     Jarnell_Stokes
35030    35030     203950        109 2016-12-31     Jarnell_Stokes

[35031 rows x 5 columns]

In [102]:
# Table 14 - V
twitter = pd.read_csv('nba_2017_twitter_players.csv')
nba_2017_twitter = twitter.merge(one_pd[['PLAYER_ID','PLAYER_NAME']], left_on = 'PLAYER', right_on = 'PLAYER_NAME')[['PLAYER_ID','TWITTER_FAVORITE_COUNT', 'TWITTER_RETWEET_COUNT']]
nba_2017_twitter = nba_2017_twitter.reset_index().rename(columns={'index': 'twit_id'})
nba_2017_twitter.columns = ['twit_id', 'player_id', 'twitter_favorite_count', 'twitter_retweet_count']
nba_2017_twitter.to_sql(name='nba_2017_twitter', con=engine, if_exists='append', index=False)

In [105]:
# Table 15 - J
nba_2017_team_player = one_pd[['TEAM_ID','PLAYER_ID']]
nba_2017_team_player = nba_2017_team_player.reset_index().rename(columns={'index': 'TP_ID'})
nba_2017_team_player.columns = ['tp_id', 'team_id', 'player_id']
nba_2017_team_player = nba_2017_team_player.merge(nba_2017_players['player_id'], on='player_id')
nba_2017_team_player.to_sql(name='nba_2017_team_player', con=engine, if_exists='append', index=False)

In [38]:
#1
nba_2017_players.to_csv('nba_2017_players.csv')
#2
nba_2017_teams.to_csv('nba_2017_teams.csv')
#3
nba_2017_player_ranking.to_csv('nba_2017_player_ranking.csv')
#4
nba_2017_fact.to_csv('nba_2017_fact.csv')
#5
nba_2017_player_stats_1.to_csv('nba_2017_player_stats_1.csv')
#6
nba_2017_player_stats_2.to_csv('nba_2017_player_stats_2.csv')
#7
nba_2017_player_stats_3.to_csv('nba_2017_player_stats_3.csv')
#8
nba_2017_player_stats_4.to_csv('nba_2017_player_stats_4.csv')
#9
nba_2017_player_stats_5.to_csv('nba_2017_player_stats_5.csv')
#10
nba_2017_clusters.to_csv('nba_2017_clusters.csv')
#11
nba_2017_salary.to_csv('nba_2017_salary.csv')
#12
nba_2017_endorsements.to_csv('nba_2017_endorsements.csv')
#13
nba_2017_wikipedia.to_csv('nba_2017_wikipedia.csv')
#14
nba_2017_twitter.to_csv('nba_2017_twitter.csv')
#15
nba_2017_team_player.to_csv('nba_2017_team_player.csv')